---
layout: base
---
<meta name="google-site-verification" content="osw5fJDCCnUOgGGvBn6qTqPZKPZCgl-S5y8PFJ5G9yY" />
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-1 vcenter idxHdr">

      <div style='font-size: 2em; color:#4EA24E; font-weight: bold; padding-bottom: 0.3em;'>Pinar Demetci</div>
      <div style='font-size: 1.2em;'>
        A computational biologist in training
      </div>
      <br/>

      <div style="padding: 0.3em; background-color: #4EA24E; display: inline-block; border-radius: 4px; font-size: 1.2em;">
        <a href="data/cv.pdf" target='_blank' style='text-decoration: none;'>
          <i style='color: white' class="fa fa-download"></i>
        </a>
        <a href="data/cv.pdf" target='_blank' style='color: white; text-decoration: none;'>Resume</a>
      </div>


    </div>
    <div class="col-md-2 vcenter idxHdr">
      <a href="/images/me-large.png">
        <img src="/images/me.png"
             style="border-radius: 20px; margin: 10px; max-width: none;"
             alt="Me."/>
      </a>
    </div>
  </div>




  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      {{ content }}
    </div>
  </div>
</div>
